
html, body {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    background: white;
    
}

#view-complete{
margin:auto;
text-align:center;
}
#welcome{height: 400px; 
background-image:url('https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682432255/images/rb8pwvppyyndke8znl9g.png');
background-repeat: no-repeat;
}

#hero-image{height: 400px; 
    background-image:url('https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682432610/images/yugcciyw7zepyz54alow.png');
    background-repeat: no-repeat;
    
    }

#book-btn{
    margin-left:500px;
}

h1, h2, h3, #p-intro {
    text-align:center;
}

#accounts-pages{
  margin-right: 500px;
}

.home-menu{
    width: 300px;
    height: 250px;
    margin-top: 5px;
}

#first-footer{
    text-align: center;
}
