
{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
   <div class="col-md-12">
    <h1 align="text-center"> Your Bookings</h1>
</div>
<div align="right" class="col-md-12"><a href="{% url 'booking_create' %}" class="btn btn-primary"> Make Booking</a></div>

    
    <table align="center" class="table table-responsive table-striped table-bordered">

       <thead>
        <th>Booking Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th> Number of Guests</th>
        <th> Date</th>
        <th>Time</th>
        <th>Action</th>
       </thead>
        <tbody>
            {% for booking in bookings %}
        <tr>
            
           <td>{{ booking.id }}</td> 
           <td>{{ booking.first_name }}</td>
           <td>{{ booking.last_name }}</td>
           <td> {{ booking.guests_number }}</td>
           <td> {{ booking.date }}</td>
           <td>{{ booking.time }}</td>
          <td> 
        <a href="{% url 'update_booking' booking.id %}" class="btn btn-info">Edit Booking</a>
         <a href="{% url 'delete_booking' booking.id %}" class="btn btn-danger">Delete Booking</a>
        </td>
    {% empty %}
    <td>You don't have any bookings.</td>
    
        </tr>
        {% endfor %}
        </tbody>
    
    </table>

    
    
    
 


</div>
{%endblock%}


