
{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
    <!-- Welcome div begin -->   
   <div class="col-md-12" id="welcome">
    <h1> Welcome to Genesis Restaurant</h1>
    <h3> Home of Yummy Meals</h3>
    <div align="center" id="book-btn">
    <a href="{% url 'booking_create' %}" class="btn btn-primary">Make A Booking</a>
</div>
   </div> 
   <!-- Wecome div end -->  

   <!-- Intro div begin -->   
   <div class="col-md-12">
    <br><br>
    <h3> About Genesis Restaurant</h3>
    <p id="p-intro"> Genesis Restaurant is a Nigerian Food Restaurant(Fictional) 
        <br>Located in Dublin, Ireland. It offers seamless online booking<br>
         functionality, allowing customers to reserve a table with just a few clicks.
    </p>
   
</div>
    <!-- intro div end --> 

<!-- Hero Image div begin -->   
<div class="col-md-12" id="hero-image">
  
   </div> 
   <!-- Hero Image div end -->  

<!--  Menu Sample Displays -->
<div><br></div>

<!-- Menu Columns -->

<div class="col-12 mt-3 left">
    <div class="row">
         
     <div class="col-md-4">
      <div class="card mb-4">
       <div class="card-body">
       <div class="image-container">
                         
         <img class="card-img-top"
          src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682453604/images/zozpgn3cjokvu2wd9ank.png">
                         
                         <div class="image-flash">
                             
                         </div>
                     </div>
                         <hr />
                     <h2 class="card-title">Suya</h2>
                     <p class="card-text">£30</p>
                      
                 </div>
             </div>
         </div>
         <!--end of first column-->

         <div class="col-md-4">
            <div class="card mb-4">
             <div class="card-body">
             <div class="image-container">
                               
               <img class="card-img-top"
                src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682453603/images/kdxedccfil6gxapyjb8s.png">
                               
                               
                               
                               
                           </div>
                           <h2 class="card-title">Fufu</h2>
                           <p class="card-text">£25</p>
                            
                       </div>
                   </div>
               </div>
               

         <!--End of second column-->

         <div class="col-md-4">
            <div class="card mb-4">
             <div class="card-body">
             <div class="image-container">
                               
               <img class="card-img-top"
                src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682453600/images/t31ntwlooeia1s56chzc.png">
                               
                               
                           </div>
                               
                           <h2 class="card-title">Egusi Soup</h2>
                           <p class="card-text">£20</p>
                            
                       </div>
                   </div>
               </div>
               

         <!--End of third Column-->
         
         </div>
         </div>


<div id="view-complete"><br><a class="btn btn-info" href="{% url 'restaurant_menu' %}">View Complete Menu</a><br><br></div>
<!-- Menu Sample End-->
    </div>

</div>
{%endblock%}


