
{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
    <!-- Welcome div begin -->   
   <div class="col-md-12" id="welcome">
    <h1> Welcome to Genesis Restaurant</h1>
    <h3> Home of Yummy Meals</h3>
    <a id="book-btn" class="btn btn-primary">Make A Booking</a>
   </div> 
   <!-- Wecome div end -->  

   <!-- Intro div begin -->   
   <div class="col-md-12">
    <br><br>
    <h3> Our Specialty in Genesis Restaurant</h3>
    <p id="p-intro"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        <br>eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim<br>
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
    </p>
   
</div>
    <!-- intro div end --> 

<!-- Hero Image div begin -->   
<div class="col-md-12" id="welcome">
  
   </div> 
   <!-- Hero Image div end -->  

<!--  Menu Sample Displays -->
<div><br></div>
<div align="center" class="row">
<div class="col-md-4 col-sm-12">
    <img class="home-menu"
    src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682024773/cld-sample-5.jpg"/>
</div>

<div class="col-md-4 col-sm-12">
    <img class="home-menu"
    src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682024773/cld-sample-5.jpg"/>
</div>

<div class="col-md-4 col-sm-12">
    <img class="home-menu"
     src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682024773/cld-sample-5.jpg"/>
</div>

</div>
<div id="view-complete"><br><a class="btn btn-info" href="{% url 'restaurant_menu' %}">View Complete Menu</a><br><br></div>
<!-- Menu Sample End-->
    </div>

</div>
{%endblock%}


