
{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <br><br>
    <div class="row">
        
        <h3>Our Full Menu</h3>
        <br>
    </div>
    <hr>
    <div class="row">
        <!-- Menu Columns -->

<div class="col-12 mt-3 left">
    <div class="row">
         
     <div class="col-md-4">
      <div class="card mb-4">
       <div class="card-body">
       <div class="image-container">
                         
         <img class="card-img-top"
          src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682453600/images/qcs9gj1i9hkfiszjilkk.png">
                         
                         <div class="image-flash">
                             
                         </div>
                     </div>
                         <hr />
                     <h2 class="card-title">Moi moi</h2>
                     <p class="card-text">£30</p>
                      
                 </div>
             </div>
         </div>
         <!--end of first column-->

         <div class="col-md-4">
            <div class="card mb-4">
             <div class="card-body">
             <div class="image-container">
                               
               <img class="card-img-top"
                src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682453600/images/bk1vsmhe8bdkd3vxrgoj.png">
                               
                               
                               
                               
                           </div>
                           <h2 class="card-title">Garri & Ogbono</h2>
                           <p class="card-text">£25</p>
                            
                       </div>
                   </div>
               </div>
               

         <!--End of second column-->

         <div class="col-md-4">
            <div class="card mb-4">
             <div class="card-body">
             <div class="image-container">
                               
               <img class="card-img-top"
                src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682453599/images/rv8khf0mgx6r7i35alfm.png">
                               
                               
                           </div>
                               
                           <h2 class="card-title">Efo Riro</h2>
                           <p class="card-text">£20</p>
                            
                       </div>
                   </div>
               </div>
               

         <!--End of third Column-->
           
    </div>
    <div class="row">
       <!-- Menu Columns -->

<div class="col-12 mt-3 left">
    <div class="row">
         
     <div class="col-md-4">
      <div class="card mb-4">
       <div class="card-body">
       <div class="image-container">
                         
         <img class="card-img-top"
          src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682453601/images/fitksqkjcg9yz45n1ooy.png">
                         
                         <div class="image-flash">
                             
                         </div>
                     </div>
                         <hr />
                     <h2 class="card-title">Asun</h2>
                     <p class="card-text">£30</p>
                      
                 </div>
             </div>
         </div>
         <!--end of first column-->

         <div class="col-md-4">
            <div class="card mb-4">
             <div class="card-body">
             <div class="image-container">
                               
               <img class="card-img-top"
                src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682453601/images/r09z8xq9wc4gaces3igf.png">
                               
                               
                               
                               
                           </div>
                           <h2 class="card-title">White Rice & Beef Stew</h2>
                           <p class="card-text">£25</p>
                            
                       </div>
                   </div>
               </div>
               

         <!--End of second column-->

         <div class="col-md-4">
            <div class="card mb-4">
             <div class="card-body">
             <div class="image-container">
                               
               <img class="card-img-top"
                src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682453599/images/auwcjtwu5mixpjk8tvtu.png">
                               
                               
                           </div>
                               
                           <h2 class="card-title">Garri & Banga Stew</h2>
                           <p class="card-text">£20</p>
                            
                       </div>
                   </div>
               </div>
               

         <!--End of third Column-->
    </div>
    <div id="view-complete"><br><a class="btn btn-info" href="{% url 'booking_create' %}"> Make a Booking Now</a><br><br></div>
</div>
{%endblock%}


