
{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <br><br>
    <div class="row">
        
        <h3>Our Full Menu</h3>
        <br>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <img class="home-menu"
            src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682024773/cld-sample-5.jpg"/>
        </div>

        <div class="col-md-4">
            <img class="home-menu"
            src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682024773/cld-sample-5.jpg"/>
        </div>
        <div class="col-md-4">
            <img class="home-menu"
            src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682024773/cld-sample-5.jpg"/> 
        </div>
           
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="home-menu"
            src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682024773/cld-sample-5.jpg"/>
        </div>

        <div class="col-md-4">
            <img class="home-menu"
            src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682024773/cld-sample-5.jpg"/>
        </div>
        <div class="col-md-4">
            <img class="home-menu"
            src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682024773/cld-sample-5.jpg"/>  
        </div>
       
                
    </div>

    <div class="row">
        <div class="col-md-4">
            <img class="home-menu"
            src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682024773/cld-sample-5.jpg"/>
        </div>

        <div class="col-md-4">
            <img class="home-menu"
            src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682024773/cld-sample-5.jpg"/>
        </div>
        <div class="col-md-4">
            <img class="home-menu"
    src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682024773/cld-sample-5.jpg"/>
        </div>
       
                
    </div>
    <div id="view-complete"><br><a class="btn btn-info" href="{% url 'booking_create' %}"> Make a Booking Now</a><br><br></div>
</div>
{%endblock%}


